<style>

  /* This size have the same color */
   h1,h2  {   color:#0f3d3d; }

   div.a  {   text-align: center; }
   div.b  {   text-align: left;}
   div.c  {   text-align: right; }
   div.d  {   text-align: justify; }

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 20px;
    width: 190px;
    text-decoration: none;
    font-size: 20px;
    color: #0f3d3d;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover { left: 0;  }

  #Home {
    top: 100px;
    background-color: #ebfafa;
  }

  #MyCV {
    top: 200px;
    background-color: #29a3a3;
  }

  #Projects {
    top: 300px;
    background-color: #1f7a7a;
  }

  #Contact {
    top: 400px;
    background-color: #196666
  }


 #Mytable  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

body {
  background-color: #2eb8b8;;
  color:  #0f3d3d;
  font-size: 18px;
}
