
/*-- test just for contact page  --*/

body {
  font-family: Verdana;
  font-size: 20px;
  color: #0f3d3d; ;
  background-color: #2eb8b8;
  margin-left:200px;
}

#container {
  width: 1000px;
  border: 10px #2eb8b8 double;
}


.button-basic, .button-report, .button-submit {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report  {
  background-color: red;
}

.button-submit  {
  background-color: green;
  color: white;
}
