/*-- test just for contact page  --*/
$myFont: Verdana;
$myFontSize: 20px;
$myColor: #0f3d3d;
$myWidth: 1000px;
$myborder: #d1e0e0;
$myBGColor:#2eb8b8;
$mymarginL:200px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  width:$myWidth;
  border:$myborder;
  background-color:$myBGColor;
  margin-left:$mymarginL;


}

#container {
  width: $myWidth;
}



/*-- test on contact page  --*/

.button-basic  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button-report  {
  @extend .button-basic;
  background-color: red;
}

.button-submit  {
  @extend .button-basic;
  background-color: green;
  color: white;
}
