
/*-- test just for contact page  --*/

body {
  font-family: Verdana;
  font-size: 20px;
  color: #0f3d3d; ;
  background-color: #2eb8b8;
  margin-left:200px;
}

#container {
  width: 880px;
  border: 1px blue double;
}
