$myFont: Verdana;
$myColor: red;
$myFontSize: 18px;
$myWidth: 1000px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
}



/*-- test on contact page  --*/

body {
  font-family: Verdana;
  font-size: 20px;
  color: #0f3d3d; ;
  background-color: #2eb8b8;
  margin-left:200px;
}

#container {
  width: 680px;
  border: 1px blue double;
}
