/*-- test just for contact page  --*/

/*--SCSS variable--*/
$myFont: Verdana;
$myFontSize: 20px;
$myColor: #0f3d3d;
$myWidth: 1000px;
$myborder: #d1e0e0;
$myBGColor:#2eb8b8;
$mymarginL:200px;
$mycontborder:double;
$mycontborderColor:#d1e0e0;



body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  width:$myWidth;
  border:$myborder;
  background-color:$myBGColor;
  margin-left:$mymarginL;
}

#container {
  width: $myWidth;
  border-style: $mycontborder;
  border-color: $mycontborderColor;

}


/*--  SCSS nesting --*/
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}


/*-- SCSS inheritance --*/
.button-basic  {
  border: rounded;
  padding: 15px 35px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;


}

.button-Send  {
  @extend .button-basic;
  background-color: green;
  color: white;
  margin-left:90px;

}

.button-Cancel  {
  @extend .button-basic;
  background-color: red;
  color: white;
  margin-left:550px;
}
